/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body 
{ 
	width: 100%;	
}

.banner
{	
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 2%;
	background-position: center;
	background-size: cover;

}

.banner img {
	display: block;
	margin: auto;
	width: 40%;
}

.diceManager, .player, .buttons, .diceGroup, .rolls
{
	width: 98%;
	margin: 1%;
	display: flex;
	align-items: center;
}

.diceManager, .player
{
	justify-content: center;
}

.rolls
{
	border: none;
}

.roll
{
	width: 40px;
	text-align: center;
	border: ridge;
	margin-left: 2px;
	margin-right: 2px;
}

.dice-wrapper
{
	border-style: solid;
	padding: 3px;
	margin:  3px;
	display:  flex;
	align-items:  center;
}

.dice-wrapper div, .dice-wrapper img
{
	margin-left: 3px;
	margin-right: 3px;
}

.diceGroup input
{
	margin: 3px;
	width: 30px;
}

.diceGroup button
{
	float:  right;
}

.player input
{
	width: 50%;
	margin: 5px;
}

.buttons button
{
	margin: auto;
	text-align: center;
	width: 150px;
}

.btn
{
	display: inline-block;
	padding: 3px;
	margin: 1%;
}

.operator
{
	width: 40px;
	height: 30px;
	margin: 5px;
}

.diceLabel
{
	margin: 5px;
}

.battery-indicator
{
	width:  40px;
	text-align: center;
}

.die-status
{
	width: 100px;
	height
	border: ridge;
}

.battery_low
{
	background-color: red;
}

.battery_medium
{
	background-color: orange;
}

.battery_high
{
	background-color: green;
}

